<p>
  <strong>Commenter:</strong>
  <%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user?(comment.micropost.user) %>
    <%= link_to 'Delete', [comment.micropost, comment],
 			   method: :delete,
			   data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<br>
