<% @user ||= current_user %>
<% if @user %>
  <%= form_for([@micropost, @micropost.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
