<h1>
  Post
</h1>

<p>
<%= render 'favorite_form' if logged_in? %>
</p>

<p>
  <strong>Text:</strong>
  <%= @micropost.content %>
</p>

<h2>Comments</h2>
<%= render @micropost.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', root_url %>
